<span>@BP.Resources.Resources.MenuPrincipal_SelecionarIdioma</span><br />
<a class="image_link" href="@Url.Action("ModificarIdioma", "Home", new { area = "", idioma = "pt-BR" })">
    <img alt="Bandeira Brasil" src="@Url.Content("~/Content/images/bandeiras/brasil.png")" />
</a><a class="image_link" href="@Url.Action("ModificarIdioma", "Home", new { area = "", idioma = "en" })">
    <img alt="Bandeira Brasil" src="@Url.Content("~/Content/images/bandeiras/estados_unidos.png")" />
</a><a class="image_link" href="@Url.Action("ModificarIdioma", "Home", new { area = "", idioma = "es" })">
    <img alt="Bandeira Brasil" src="@Url.Content("~/Content/images/bandeiras/espanha.png")" />
</a>