@model IEnumerable<TeacherAssistant.Models.Licao>
@{
    ViewBag.Title = "Lições";
}
<p>
    @Html.ActionLink("Incluir Lição", "Create", null, new { data_role = "button", data_icon = "plus" })
</p>
<table data-role="table" data-mode="reflow">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { data_rel = "dialog" }) |
                @Html.ActionLink("Materiais", "Index", "Material", new { idLicao = item.Id }, null)
            </td>
        </tr>
    }
</table>
